<body>
    <div class="card">
        <div class="group">
            <div class="img"></div>
            <p id="name">assus rog</p>
            <p id="price"></p>
        </div>
        <div class="group">
            <div class="img"></div>
            <p id="name">assus rog</p>
            <p id="price"></p>
        </div>
        <div class="group">
            <div class="img"></div>
            <p id="name">assus rog</p>
            <p id="price"></p>
        </div>
        <div class="group">
            <div class="img"></div>
            <p id="name">assus rog</p>
            <p id="price"></p>
        </div>
       
    </div>  
   
</body>

